<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
<div class="img-wrapper">
  <img src="..\..\assets\icon.png" class="logo-image" alt="Movie Finder Logo">
</div>
    <mat-nav-list>
      <a mat-list-item routerLink="movie" routerLinkActive="active-link"><mat-icon>movie</mat-icon>Search Movies</a>
      <a mat-list-item *ngIf="authenticated" routerLink="favourites" routerLinkActive="active-link"><mat-icon>favorite</mat-icon>Favourites</a>
      <a mat-list-item *ngIf="authenticated" routerLink="providers" routerLinkActive="active-link"><mat-icon>tv</mat-icon>Providers</a>
      <a mat-list-item *ngIf="!authenticated" routerLink="login" routerLinkActive="active-link"><mat-icon>login</mat-icon>Login</a>
      <a mat-list-item *ngIf="authenticated" (click)="onLogout()" routerLinkActive="active-link"><mat-icon>cancel</mat-icon>Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>MediaStreamFinder</span>
    </mat-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
